<header>
    <nav class = "header-nav">
     <a class="header-title" href="/">Hlavní stránka</a>
     <ul>
         <li><a href="/authors"> Autoři &nbsp</a></li>
         <li><a href="/authors/new"> Přidat autora &nbsp </a></li>
         <li><a href="/books"> Knihy &nbsp</a></li>
         <li><a href="/books/new"> Přidat knihu &nbsp</a></li>
     </ul>   
    </nav>
</header>