<header>
    <nav class="header-nav">
     <a class="header-title" href="/">Hlavní stránka</a>
     <ul>
         <li><a href="/authors"> Autoři </a></li>
         <li><a href="/authors/new"> Přidat autora </a></li>
         <li><a href="/books"> Knihy </a></li>
         <li><a href="/books/new"> Přidat knihu </a></li>
     </ul>   
    </nav>
</header>