@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


:root{
--color-btn-primary-background: hsl(var(--color-base-hue), 100%, 75%  );
--color-btn-primary-background-dark: rgba(21, 156, 21, 0.844);
--color-btn-primary-text: hsl(var(--color-base-hue),100%, 25%); 
--color-btn-primary-text-dark: hsl(var(--color-base-hue),100%. 15%);
--color-btn-danger-text-dark: black;
--color-btn-danger-background: hsl(var(--color-base-hue), 100%, 75%  )  ;
--color-btn-danger-text: black;
--color-btn-danger-background-dark: rgb(143, 30, 30);
--color-btn-border: black;


}

.btn{
    border: 1px solid var(--color-btn-border);
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-family: Poppins;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.btn-row{
    display: flex;
    align-items: flex-start;
}

.btn-row > * {
    margin-left: 1rem
}

.btn-row > *:first-child{
    margin-left: 0
}

.btn-primary {
    color: var(--color-btn-primary-text);
    background-color: var(--color-btn-primary-background);
}

.btn-danger{
    color:var(--color);
    background-color: var(--color-btn-danger-background);
}

.btn-primary:hover {
    color: var(--color-btn-primary-text-dark);
    background-color:var(--color-btn-primary-background-dark);
}

.btn-danger:hover {
    color: var(--color-btn-danger-text-dark);
    background-color: var(--color-btn-danger-background-dark);
}