<h2 class="page-header">Nový autor</h2>
<form action="/authors" method="POST">
    <%- include("_form_fields")%>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/authors">Zrušit</a>
        <button class="btn btn-primary" type="submit" >Vytvořit</button>
    </div>
</form>